Does higher share of urban population lead to larger road mortality?

higher urban population => more cars and bigger density => more deaths on the roads

In [54]:
import warnings
import numpy as np
warnings.filterwarnings('ignore')
import pandas as pd
from plotnine import *
import statsmodels.api as sm
import statsmodels.formula.api as smf
import os
import sys
from stargazer.stargazer import Stargazer
from IPython.core.display import HTML

In [55]:
#read the data
urban_population = pd.read_csv("54950768-904f-4ec9-bd47-342e9e801985_Data.csv")
road_incidents = pd.read_csv("death-rates-road-incidents.csv")
print(road_incidents.head())

        Entity Code  Year  \
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993
4  Afghanistan  AFG  1994

   Deaths - Road injuries - Sex: Both - Age: Age-standardized (Rate)
0                                          52.262263
1                                          52.597034
2                                          52.484181
3                                          54.153250
4                                          57.190504

In [56]:
print(urban_population.head(10))

   Time Time Code         Country Name Country Code  \
0  1992    YR1992          Afghanistan          AFG
1  1992    YR1992              Albania          ALB
2  1992    YR1992              Algeria          DZA
3  1992    YR1992       American Samoa          ASM
4  1992    YR1992              Andorra          AND
5  1992    YR1992               Angola          AGO
6  1992    YR1992  Antigua and Barbuda          ATG
7  1992    YR1992            Argentina          ARG
8  1992    YR1992              Armenia          ARM
9  1992    YR1992                Aruba          ABW

  Urban population (% of total population) [SP.URB.TOTL.IN.ZS]
0                                             21.355
1                                             37.249
2                                             53.657
3                                             82.789
4                                             94.324
5                                             40.039
6                                             35.085
7                                             87.542
8                                             66.878
9                                             49.998

In [57]:
urban_population.columns

Index(['Time', 'Time Code', 'Country Name', 'Country Code',
       'Urban population (% of total population) [SP.URB.TOTL.IN.ZS]'],
      dtype='object')

In [58]:
road_incidents.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Road injuries - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [59]:
cols_to_drop = ['Time Code']
urban_population.drop(columns=cols_to_drop, axis=1, inplace=True)

In [60]:
urban_population.head()

,Time,Country Name,Country Code,Urban population (% of total population) [SP.URB.TOTL.IN.ZS]
0,1992,Afghanistan,AFG,21.355
1,1992,Albania,ALB,37.249
2,1992,Algeria,DZA,53.657
3,1992,American Samoa,ASM,82.789
4,1992,Andorra,AND,94.324

In [61]:
cols = {'Urban population (% of total population) [SP.URB.TOTL.IN.ZS]':'urbpop',
          'Time':'year',
        'Country Name':'country',
           'Country Code':'ccode'}
urban_population.rename(columns=cols, inplace=True)

In [62]:
urban_population.columns

Index(['year', 'country', 'ccode', 'urbpop'], dtype='object')

In [63]:
road_incidents.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Road injuries - Sex: Both - Age: Age-standardized (Rate)'],
      dtype='object')

In [64]:
cols = {'Deaths - Road injuries - Sex: Both - Age: Age-standardized (Rate)':'incidents',
          'Year':'year',
        'Entity':'country',
           'Code':'ccode'}
road_incidents.rename(columns=cols, inplace=True)

In [65]:
road_incidents.columns

Index(['country', 'ccode', 'year', 'incidents'], dtype='object')

In [66]:
urban_population.tail(10)

,year,country,ccode,urbpop
5854,2018,Virgin Islands (U.S.),VIR,95.721
5855,2018,West Bank and Gaza,PSE,76.164
5856,2018,"Yemen, Rep.",YEM,36.642
5857,2018,Zambia,ZMB,43.521
5858,2018,Zimbabwe,ZWE,32.209
5859,NaN,NaN,NaN,NaN
5860,NaN,NaN,NaN,NaN
5861,NaN,NaN,NaN,NaN
5862,Data from database: World Development Indicators,NaN,NaN,NaN
5863,Last Updated: 03/19/2021,NaN,NaN,NaN

In [67]:
urban_population.drop(index=[5859,5860,5861,5862,5863],axis=0,inplace=True)

In [77]:
urban_population.tail(10)

      year                country ccode  urbpop
5849  2018                Uruguay   URY  95.334
5850  2018             Uzbekistan   UZB  50.478
5851  2018                Vanuatu   VUT  25.274
5852  2018          Venezuela, RB   VEN  88.208
5853  2018                Vietnam   VNM  35.919
5854  2018  Virgin Islands (U.S.)   VIR  95.721
5855  2018     West Bank and Gaza   PSE  76.164
5856  2018            Yemen, Rep.   YEM  36.642
5857  2018                 Zambia   ZMB  43.521
5858  2018               Zimbabwe   ZWE  32.209

In [79]:
road_incidents.tail(10)

       country ccode  year  incidents
6458  Zimbabwe   ZWE  2008  34.054126
6459  Zimbabwe   ZWE  2009  33.574161
6460  Zimbabwe   ZWE  2010  32.618256
6461  Zimbabwe   ZWE  2011  31.095035
6462  Zimbabwe   ZWE  2012  29.621973
6463  Zimbabwe   ZWE  2013  28.430509
6464  Zimbabwe   ZWE  2014  27.365695
6465  Zimbabwe   ZWE  2015  26.684043
6466  Zimbabwe   ZWE  2016  26.051148
6467  Zimbabwe   ZWE  2017  25.377666

In [89]:
road_incidents.year.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017])

In [94]:
urban_population.year.unique()

array(['1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018'], dtype=object)

In [96]:
urban_population = urban_population[urban_population.year != '2018']

In [97]:
urban_population.year.unique()

array(['1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017'], dtype=object)

In [108]:
road_incidents = road_incidents[(road_incidents.year != 1990) & (road_incidents.year != 1991)]

In [109]:
road_incidents.year.unique()

array([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017])

In [116]:
urban_population.year=pd.to_numeric(urban_population.year)

ValueError: Unable to parse string ".." at position 105

In [115]:
for i in urban_population.columns:
    print(i,type(urban_population.loc[1,i]))

year <class 'numpy.int64'>
country <class 'str'>
ccode <class 'str'>
urbpop <class 'str'>

In [76]:
frame=[urban_population,road_incidents]
data=urban_population.merge(road_incidents,how='inner',on=['ccode','year'])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [75]:
data.head()

  year_x    country_x ccode  urbpop    country_y  year_y  incidents
0   1992  Afghanistan   AFG  21.355  Afghanistan    1990  52.262263
1   1992  Afghanistan   AFG  21.355  Afghanistan    1991  52.597034
2   1992  Afghanistan   AFG  21.355  Afghanistan    1992  52.484181
3   1992  Afghanistan   AFG  21.355  Afghanistan    1993  54.153250
4   1992  Afghanistan   AFG  21.355  Afghanistan    1994  57.190504